body {
  margin: 0;
  font-family: 'DejaVu Serif', Serif;
  font-weight: 200;
  font-size: 17px;
}
div h1 {
  padding: 10px;
  text-align: center;
}
#map-ctn {
  width: 960px;
  height: 700px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.background {
  stroke: #2a2c39;
  stroke-width: 1.5px;
  fill: none;
}
svg {
  margin-left: auto;
  margin-right: auto;
}
.prefecture {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
